.form{
    display: flex;
    border-top: 2px solid #D3D3D3;
}

.input{
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 78%;
    font-size: 0.7em;
    background: wheat;
}

input:focus, textarea:focus, select:focus{
    outline: none;
    background: white;
    transition: ease-in 0.4s;
}

.sendButton{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 32%;
}

